body{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  margin-top: 20px;
}

.app-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.main{
  width: 900px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}

.menu {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
}

.menu-top{
  display: flex;
  justify-content: space-between;
  grid-column: 1;
  grid-row: 1;
}

.menu-bottom{
  display: flex;
  justify-content: space-between;
  grid-column: 1;
  grid-row: 2;
}

.active {
  background-color: white;
  font-weight: bold;
  color: rgb(182, 220, 245);
}

.todo-list-container {
  grid-column: 1;
  grid-row: 1;
}

.edit-form{
  display: none;
}

.add-form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.add-form input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.add-form select {
  border: none;
  background-color: #eee;
  margin: 8px 0;
  height: 45px;
	width: 100%;
}

.add-form textarea{
  width: 100%;
  margin: 10px;
  padding: 12px 15px;
  border: 1px solid #eee;
  background: #eee;
}

.todo-list{
  padding: 0px;
}

.todo-list li {
   text-decoration: none;
   list-style-type: none;
   border: 1px dashed black;
   border-radius: 4px;
   margin-bottom: 20px;
   padding: 20px;
}

.star{
  width: 30px;
}

input[type="button"] {
  border: none;
  height: 40px;
  width: 160px;
  font-size: 1rem;
  border-radius: 3px;
  background: #3eaee2;
}

li.body{
  display: flex;
  background-color: #99e3fa;
}

div.edit-line{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

li.body div:nth-of-type(1) { flex-grow: 1; width: 25vh;}
li.body div:nth-of-type(2) { flex-grow: 2; width: 50vh;}
li.body div:nth-of-type(3) { flex-grow: 1; width: 25vh;}

div.edit-line input{
  width: 100px;
}
